name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/playwright-github-action@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r local-requirements.txt
        pip install -e .
        python -m playwright install
    - name: Lint
      run: pre-commit run --all-files
    - name: Test
      if: ${{ matrix.os != 'ubuntu-latest' }}
      run: pytest --cov=pytest_playwright --cov-report xml
    - name: Test on Linux
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: xvfb-run pytest --cov=pytest_playwright --cov-report xml
